.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-content {
  width: 650px;
  background-color: #fff;
  border-radius: 20px;
}

.modal-header {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.modal-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.modal-footer-delete {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.modal-body-Novoitem {
  padding: 10px;
  display: flow-root;
  justify-content: center;
  align-items: center;
}

.modal-body-desc {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modal-body-delete {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modal-searchbar {
  background-color: rgb(205 205 205);
}

.modal-searchbar-NovoItem {
  background-color: rgb(205 205 205);
  width: 100%;
  max-width: -webkit-fill-available;
  border-radius: 60px;
  border-width: 0;
  padding: 8px;
  margin-inline: 10px;
}

.input-alertThreshold {
  background-color: rgb(205 205 205);
  width: 10%;
  max-width: -webkit-fill-available;
  border-radius: 60px;
  border-width: 0;
  padding: 8px;
  margin-inline: 10px;
  margin-right: 30px;
}

.error {
  position: fixed;
  left: 50%;
  margin-left: -225px;
  top: 17px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(243, 104, 104);
  border-radius: 60px;
  margin-bottom: 30px;
  width: 450px;
  height: 35px;
}

.error-text {
  color: #fff;
  padding: 8px;
}

.alert-min-span {
  align-self: center;
}

.modal-delete-txt {
  font-weight: bold;
}

.btn-yep {
  width: 90px;
}

.btn-noop {
  background-color: rgb(243, 104, 104);
  width: 90px;
}
