button {
  padding: 8px;
  margin-inline: 10px;
  border-radius: 50px;
  border-width: 0;
  background-color: lightgrey;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.header {
  border-radius: 60px;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 90%;
  align-content: center;
  place-items: center;
  margin: 10px;
}

.searchBarContainer {
  width: 30%;
}
.searchBar {
  width: 100%;
  border-radius: 60px;
  border-width: 0;
  padding: 8px;
  margin-inline: 10px;
}

/* .headerBtnContainer
{
} */

.categorys {
  border-radius: 60px;
  background-color: lightgrey;
  display: flex;
  height: 40px;
  width: 80%;
  align-content: center;
  place-items: center;
  margin: 10px;
}

.cardsContainer {
  border-radius: 10px;
  background-color: rgb(79, 79, 79);
  width: 90%;
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}
.cardsContainerAdd {
  border-radius: 10px;
  background-color: rgb(79, 79, 79);
  width: 90%;
  height: 350px;
  max-height: 350px;
  overflow-y: scroll;
}
.cards {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
  width: 95%;
  border-radius: 20px;
  background-color: rgb(142, 142, 142);
  display: flex;
  flex-direction: row;
}
.imgInptContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.productImg {
  width: 100%;
  height: 100%;
}

.nomeContainer {
  align-self: center;
  width: 70%;
}

.descripContainer {
  align-self: center;
}

.addContainer {
  align-self: center;
}

.subtractContainer {
  align-self: center;
}

.numberContainer {
  align-self: center;
}